body{
  background:#F4F4F4;
}
.navTab{
  background:white;
  padding:12px;
  margin-bottom: 20px;
}
.moreBtn>span{
  color:gray;
  margin: 0 10px;
}
.moreBtn>span:hover{
  cursor: pointer;
}
.content{
  padding: 10px 30px;
}
.rightDiv{
  float: right;
}
.layui-card-header{
  border-bottom: 1px solid #80808054;
  font-weight: bold;
  font-size: 15px;
  color: gray;
  height: 54px;
  line-height: 54px;
  background: #FaFaFa;
}
.layui-card-header .head-tool{
  float: right;
  padding-top: 9px;
  padding-right: 5px;
}
.layui-card-header .head-toolBtn{
  float: right;
  padding: 0;
}
.layui-card-header .head-tool .layui-form-select{
  width: 130px;
}
.layui-card-header .head-tool .layui-input{
  width: 130px;
}
@media screen and (min-width: 1270px){
  .layui-container {
      width: 1270px;
  }
}
@media screen and (min-width: 1600px){
  .layui-container {
   width:1450px;
  }
}