body,html,.fullHeight{
  height: 100% !important;
}
.loginDiv{
  text-align: center;
  padding: 150px 50px;
  padding-bottom: 0px;
}
.loginDiv h2{
  padding: 30px 0 20px;
}
.loginDiv .loginLontent>p{
  margin-bottom: 24px;
}
.loginDiv input[type=text]{
  padding-left: 38px;
  height: 48px;
}
.loginDiv .inputIcon{
  position: absolute;
  left: 61px;
  z-index: 5;
  margin-top: 16px;
  color: gray;
}
.loginDiv .layui-btn-danger{
  background-color: #ff7875;
  border-color: #ff7875;
  color: #fff;
}
.loginDiv .layui-btn{
  width: 100%;
}
.footerDiv{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 30px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  color: rgba(0,0,0,.5);
}
.footerDiv a{
  color: #1890ff;
}
.layui-icon-login-wechat {
  color: #4DAF29;
}
.otherLogin label{
  color: gray;
}
.otherLogin i{
  font-size: 58px;
}
.otherLogin a{
  margin-left: 15px;
}
.faceImg{
  width: 90px;
  height: 60px;
  margin-top: -34px;
  margin-left: -14px;
}
#bgImgDiv img{
  max-width: 100%;
  height: 100% !important;
}