.pointsRule ul li i {
  margin-top: -21px;
}
.number{
  font-size: 15px;
  font-weight: bold;
  color: gray;
}
.stateTip{
  color: gray;
  font-size: xx-small;
}
.contentTitle{
  font-weight: bold;
  color: gray;
  font-size: 15px;
  margin-bottom: 15px;
}
table.infoTable{
  width: 100%;
  color: gray;
}
table.infoTable td{
  border: 1px solid #80808054;
  padding: 5px;
  padding-left: 20px;
  text-align: left;
}
table.infoTable td.title{
  text-align: right;
  background: #f4f4f4;
  width: 130px;
  padding-right: 20px;
}
.description{
  color: gray;
  margin: 10px 0;
}
.peopleDate{
  text-align: right;
  margin-top: 10px;
  color: gray
}
.peopleDate span{
  margin-left: 55px;
}
a{
  color: blue;
}
table.infoTable td{
  width: 30%;
}
table.infoTable td.title{
  width: 160px;
}