.layui-textarea{
  height: 180px;
}
.customNumber{
  font-size: 15px;
  color: red;
}
.numberPeople{
  font-size: 47px;
  color: white;
  position: absolute;
  top: 50px;
  right: 141px;
}
.layerContentDiv{
  overflow: hidden;
  margin: 0;
  width: 100% !important;
}
.layerContent{
  overflow: hidden;
  margin: 0;
  width: 100% !important;
}
.layerContent table .titleTd{
  width: 80px;
}
.imgTd>div{
  background: #1394ce;
  width: 100px;
  height: 100px;
  margin-right: 45px;
  float: left;
  margin: 0 30px;
  color: white;
  font-size: 40px;
  text-align: center;
  line-height: 65px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}
.imgTd>div>p{
  font-size: 12px !important;
  background: orange;
  text-align: center;
  line-height: 35px;
}
.twoDiv{
  width: 48.5% !important;
  float: left;
  padding: 0.5%;
  margin-top: 10px !important;
}
.imgTd{
  padding-top: 20px !important;
}
.smallTitle{
  background: #f8f8f8;
  padding: 10px;
  margin-bottom: -15px;
  font-weight: bold;
}
.addTable .btnP {
  padding-bottom: 15px;
  margin-bottom: 0px;
  margin-top: -5px;
}
@media screen and (min-width: 1500px){
  .layui-container {
	  width: 1470px;
  }
}